:root {
    --font-famili-main: 'Roboto', sans-serif;

    /*fonts size*/
    --font-size-xs: 12px;
    --line-height-xs: 16px;
    --font-xs: var(--font-size-xs)/ var(--line-height-xs) var(--font-famili-main);

    --font-size-sm: 14px;
    --line-height-sm: 20px;
    --font-sm: var(--font-size-sm)/ var(--line-height-sm) var(--font-famili-main);

    --font-size-base: 16px;
    --line-height-base: 24px;
    --font-base: var(--font-size-base)/ var(--line-height-base) var(--font-famili-main);

    --font-size-lg: 18px;
    --line-height-lg: 28px;
    --font-lg: var(--font-size-lg)/ var(--line-height-lg) var(--font-famili-main);

    --font-size-xl: 20px;
    --line-height-xl: 28px;
    --font-xl: var(--font-size-xl)/ var(--line-height-xl) var(--font-famili-main);

    --font-size-2xl: 24px;
    --line-height-2xl: 32px;
    --font-2xl: var(--font-size-2xl)/ var(--line-height-2xl) var(--font-famili-main);

    --font-size-3xl: 30px;
    --line-height-3xl: 36px;
    --font-3xl: var(--font-size-3xl)/ var(--line-height-3xl) var(--font-famili-main);


    /*Размеры */
    --navbar-height: 50px;
    --sidebar-width: 300px;
    --sidebar-width-collapsed: 80px;


}